<div style="width: 100vw; margin-top: 30px; padding-bottom: 30px; background-color: whitesmoke; auto;display:block;">
  <form id="emailSubForm" style="text-align: center; text-align:center;" action="https://tinyletter.com/haxpor" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/haxpor', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p style="margin-bottom: 0px; padding-top: 20px;"><label for="tlemail" style="font-size:22px; font-weight: 500;">Enter your email address</label></p>
    <p><label style="font-size:18px;color:#666">To subscribe to my newsletter</label></p>
    <p><input type="text" style="width:200px;padding: 10px 10px;font-size:22px" name="email" id="tlemail"></p>
    <input type="hidden" value="1" name="embed"><a style="cursor: pointer;max-width:150px;color:white" class="weui-btn weui-btn_warn no-line" onclick="document.getElementById('emailSubForm').submit();">Subscribe</a>
  </form>
</div>
