<div style="max-width: 500px;margin: 30px auto;display:block;">
  <form id="emailSubForm" style="text-align: center; background-color: whitesmoke; border:1px solid #ccc;padding:15px 3px;text-align:center;border-radius:10px;margin-left: 8px;margin-right: 8px" action="https://tinyletter.com/haxpor" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/haxpor', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><label for="tlemail" style="font-size:22px">Enter your email address</label></p>
    <p><label style="font-size:18px;color:#888">To subscribe to my newsletter</label></p>
    <p><input type="text" style="width:200px;padding: 10px 10px;font-size:22px" name="email" id="tlemail"></p>
    <input type="hidden" value="1" name="embed"><a style="cursor: pointer;width:70%;color:white" class="weui-btn weui-btn_warn no-line" onclick="document.getElementById('emailSubForm').submit();">Subscribe</a>
  </form>
</div>